body {
    
    color: rgb(35, 12, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(246, 233, 209);
    
    
}
.contenido {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 220, 198, 0.7);
}

p {
    font-family: 'roboto';
    font-weight: lighter;
    text-align: right;
    margin: 1vh;
    font-size: 3vh;
    
  width: 40%;
}
.btn-inicio, .btn-colecciones {
    font-family: 'roboto';
position: fixed;
top: 2%;
padding: 1% 1%;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 10%;
cursor: pointer;
font-size: 3vh;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 2%;
}


.btn-colecciones {
right: 2%;
}
.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}