body {
  font-family: "Roboto";
  overflow-y: scroll;
  color: rgb(35, 12, 0);
    margin: 0;
    padding: 0;
    background: rgb(246, 233, 209);
    text-align: center;
}

h1 {
  text-align: center;
  margin: 15%;
  font-size: 10vw;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px; 
  padding: 20px;
}

h2 {
  margin-top: 5%;
  margin-bottom: 10vh;
  font-size: 3vw;
  left: 10vw;
}

.seccion {
  margin-bottom: 40px;
  
}


.item {
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
  

}


.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}


.item:hover img {
  transform: scale(1.1);
  filter:sepia(1);
}


.item::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background:  rgb(35, 12, 0);
  color: rgb(246, 233, 209);
  font-size: 1.4rem;
  padding: 12px 0;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.item:hover::after {
  opacity: 1;
}

.btn-mapa, .btn-inicio {
    font-family: 'roboto';
position: fixed;
top: 2%;
padding: 1% 1%;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 10%;
cursor: pointer;
font-size: 3vh;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 2%;
}


.btn-mapa {
right: 2%;
}


.btn-mapa:hover, .btn-inicio:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}