body {
    
    color: rgb(246, 233, 209);
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}
h1{
    font-family: 'roboto';
    text-align: center;
    font-size: 15vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    margin-top: 25vh;
}


p {
    font-family: 'roboto';
    font-weight: lighter;
    text-align: center;
    margin: 1vh;
    font-size: 5vh;
}

.p1 {
    font-family: 'roboto';
    font-weight: lighter;
    text-align: center;
    margin: 1vh;
    font-size: 3vh;
}

#fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: saturate(3);
   filter: brightness(0.7);
}
.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

a{
    font-family: 'roboto';
    font-weight: lighter;
    text-align: center;
    margin: 0;
    display: block;
    background-color: wheat;
    padding: 1vh;
    font-size: 3vh;
    color: rgb(46, 18, 0)
}
#btn-colecciones {
    font-family: 'roboto';
position: fixed;
top: 2%;
padding: 1% 1%;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 10%;
cursor: pointer;
font-size: 3vh;
transition: 0.3s;
z-index: 10;
right: 2%;
}
#btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}
