body {
margin: 0;
padding: 0;
font-family: roboto;
background: rgb(35, 12, 0);
color:  rgb(246, 233, 209);
overflow: hidden;
}
.btn-inicio, .btn-colecciones {
position: fixed;
top: 20px;
padding: 10px 20px;
background: rgb(17, 6, 0);
color:rgb(17, 6, 0);
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 20px;
}


.btn-colecciones {
right: 20px;
}


.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}

.caja-superior {
    width: 35%;
padding: 20px;

border-radius: 10px;
position: absolute;
top: 40px;
left: 10%;
font-size: 3vh;
}


.caja-inferior {
    width: 35%;
padding: 20px;

border-radius: 10px;
position: absolute;
bottom: 40px;
right: 10%;
font-size: 3vh;
}

#imagenes-paralelas {
position: absolute;
top: 80px;
left: 42%;
display: flex;
flex-direction: column;
gap: 20px;
}


.img-paralela {
width: 120px;
opacity: 0;
transition: opacity 0.2s;
}
.imagenes-onda {
position: absolute;
bottom: 40px;
left: 20%;
display: flex;
gap: 25px;
align-items: center;
}


.img-onda {
width: 120px;
opacity: 0;
transition: opacity 0.4s;
}

.nivel1 { transform: translateY(0px); }
.nivel2 { transform: translateY(20px); }
.nivel3 { transform: translateY(40px); }