body {
margin: 0;
padding: 0;
font-family: roboto;

background: rgb(35, 12, 0);
color:  rgb(246, 233, 209);
overflow: hidden;
}
.btn-inicio, .btn-colecciones {
 font-family: 'roboto';  
position: fixed;
top: 2%;
padding: 1% 1%;
background: rgb(17, 6, 0);
color:rgb(17, 6, 0);
border: none;
border-radius: 10%;
cursor: pointer;
font-size: 3vh;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 2%;
}


.btn-colecciones {
right: 2%;
}



.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}

.caja-superior {
    width: 35%;
padding: 20px;

border-radius: 10px;
position: absolute;
top: 40px;
left: 10%;
font-size: 3vh;
font-weight: lighter;
}


.caja-inferior {
    width: 35%;
padding: 20px;

border-radius: 10px;
position: absolute;
bottom: 40px;
right: 10%;
font-size: 3vh;
font-weight: lighter;
}

.imagenes-paralelas {
position: absolute;
top: 50%;
left: 42%;
display: flex;
flex-direction:row;
gap: 2%;
}


#img-paralela {
width:20%;
opacity: 0;
transition: opacity 0.2s;
}
