body {
    
    color: rgb(35, 12, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(246, 233, 209);
    
    
}
.btn-inicio, .btn-colecciones {
    font-family: 'roboto';
position: fixed;
top: 20px;
padding: 10px 20px;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 20px;
}

.btn-materia {
left: 20px;
}


.btn-colecciones {
right: 20px;
}
.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}
.mapa-fondo {
  /*background-image: url("archivos/fotos/fondomapa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;*/
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  z-index: 1;
   inset: 0;
  
}

.contenido-mapa {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}




#tx-materia {
  position: absolute;
  left: 50%;   
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: rgb(249, 242, 229);
  color: rgb(35, 12, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#tx-lomas {
  position: absolute;
  left: 10%;   
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: rgb(249, 242, 229);
  color: rgb(35, 12, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#cosas-huella,
.cosas-huella {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 30%;
  top: 40%;
  object-fit: contain;  
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.4s ease, transform 0.2s ease;
  z-index: 40;          
  display: block;
}


#cosas-huella:hover,
.cosas-huella:hover {
  opacity: 1;
  transform: scale(1.08);
}