body {
    
    color: rgb(35, 12, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(246, 233, 209);
    
    
}
.btn-inicio, .btn-colecciones {
    font-family: 'roboto';
position: fixed;
top: 2%;
padding: 1% 1%;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 10%;
cursor: pointer;
font-size: 3vh;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 2%;
}


.btn-colecciones {
right: 2%;
}

.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}


.mapa-fondo {
 
    /*position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  z-index: 1;
   inset: 0;*/

   position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  
}

.contenido-mapa {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.agua,
.guardar,
.huellas,
.marañas,
.puentes,
.puertas,
.ruinas {
    position: absolute;
    width: 90px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
    opacity: 0.85;
    z-index: 20;
}

.agua:hover,
.guardar:hover,
.huellas:hover,
.marañas:hover,
.puentes:hover,
.puertas:hover,
.ruinas:hover {
    opacity: 1;
    transform: scale(1.08);
}





/*#tx-materia {
  position: absolute;
  left: 50%;   
  top: 60%;
  transform: translate(-50%, -50%);
   z-index: 30;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: rgb(249, 242, 229);
  color: rgb(35, 12, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
#tx-lomas {
  position: absolute;
  left: 10%;   
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: rgb(249, 242, 229);
  color: rgb(35, 12, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#tx-asalto {
  position: absolute;
  left: 30%;   
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: rgb(249, 242, 229);
  color: rgb(35, 12, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  */
#tx-materia,
#tx-lomas,
#tx-asalto {
    position: absolute;
    z-index: 200;
    padding: 6px 12px;
    background: rgb(249, 242, 229);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    color: rgb(35, 12, 0);
}

#tx-materia { left: 50%; top: 60%; transform: translate(-50%, -50%); }
#tx-lomas   { left: 10%; top: 40%; transform: translate(-50%, -50%); }
#tx-asalto  { left: 30%; top: 20%; transform: translate(-50%, -50%); }


.tx-materia:hover,.tx-lomas:hover,.tx-asalto:hover {
  background: rgb(248, 223, 123);
color: rgb(35, 12, 0);

 } 


