body {
    
    color: rgb(35, 12, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(246, 233, 209);
    
    
}
.btn-inicio, .btn-colecciones {
    font-family: 'roboto';
position: fixed;
top: 20px;
padding: 10px 20px;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 20px;
}

.btn-materia {
left: 20px;
}


.btn-colecciones {
right: 20px;
}
.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}

.contenido-mapa {
  position: relative;
  width: 100%;
  height: 100vh;
}

.fondo-mapa {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.materia, .huella {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  cursor: pointer;
}

