body {
    
    color: rgb(35, 12, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(246, 233, 209);
    
    
}
.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 220, 198, 0.7);
}

p {
    font-family: 'roboto';
    font-weight: lighter;
    text-align: center;
    margin: 1vh;
    font-size: 5vh;
}
.btn-inicio, .btn-colecciones {
    font-family: 'roboto';
position: fixed;
top: 20px;
padding: 10px 20px;
background: rgb(249, 242, 229);
color:rgb(249, 242, 229);
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: 0.3s;
z-index: 10;
}
.btn-inicio {
left: 20px;
}


.btn-colecciones {
right: 20px;
}
.btn-inicio:hover, .btn-colecciones:hover {
background: rgb(248, 223, 123);
color: rgb(35, 12, 0);
}